@font-face {
    font-family: montserrat;
    src: url(/fonte/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-bold;
    src: url(/fonte/Montserrat/static/Montserrat-ExtraBold.ttf);
}


:root

/*Font*/

:root {
  /* colors */
  --prime-green: rgb(130, 191, 101);

  /* font sizes */


  /* fonts */
  --h1-font: "montserrat-regular";
  --h2-font: "montserrat-bold";
  --h3-font: "montserrat";
  --h4-font: "montserrat";
  --p-font: "montserrat";

/* font-sizes*/
--h2-size: 16px;
--p-size: 20px;






}