* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    line-height: 1.5;
}

nav {
    padding: 1.5rem;
}
nav a {
    padding: 1.5rem;
}

img {
        max-width: 100%;
    }

/*tekst*/

h2 {
    padding: 1rem;
    line-height: 2;
    font-family: montserrat-bold;
}

h4 {
    padding: 1rem;
    line-height: 2;
    font-family: montserrat;
}

p {
   line-height: 2;
    font-family: var(--p-font);
}


header, section {
    padding: 2rem;
}

header {
    background-image: url(/imgs/pop-art-03.webp);
    background-size: cover;
    color: #ffffff;
}


.grid_3_column, .grid_2_column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
}

footer {
    background-color: blue;
    height: 250px;
}

@media screen and (width >= 768px) {
.grid_3_column {
    grid-template-columns: repeat(3, 1fr);
    }

/*.grid_2_column {
    grid-template-columns: repeat(2, 1fr);
    }*/
}

