---
//Import style-sheets
import PageLayout from "../layouts/PageLayout.astro"

//Import components
import Card from "../components/Card.astro"
import Bigcard from "../components/Bigcard.astro"
import VideoSection from "../components/VideoSection.astro"
import About from "../components/About.astro"
---

<PageLayout>
		<section>
			<h2>Young Creatives Denmark er et kreativt fællesskab for unge </h2>
		<h4>Inden for film, foto, design, kunst og storytelling skaber vi plads til samarbejde, læring og synlighed gennem workshops, events og kreative projekter.</h4>
</section>
<!--Card section -->
<section>
<div class="grid_3_column">
		<Card img="/imgs/Group-1.webp" headline="Events & Fællesskab" text="Bliv en del af et kreativt fællesskab, hvor unge mødes gennem workshops, events og samarbejder. Her er der plads til nye idéer, netværk og kreative oplevelser." />
		<Card img="/imgs/Group-2.webp" headline="Design & Kunst" text="Udforsk kreativitet gennem grafisk design, illustration og visuel kunst. Vi hylder unikke udtryk og giver plads til at udvikle dine kreative evner." />
		<Card img="/imgs/Group-3.webp" headline="Fotografi, film &  video." text="Fortæl historier gennem billeder og levende medier. Fra foto og kortfilm til videoproduktion og redigering – her kan kreative visioner blive til virkelighed." />
		</div></section>
		<!--Video Section -->
<VideoSection />
	<About />

		<!--Bigcard section -->
		<section>
			<div class="grid_2_column">
<Bigcard  id="afsnit" img="/imgs/ansigt-til-ansigt.webp" headline="“Ansigt til Ansigt”" text="“Ansigt til Ansigt” er et inspirerende møde mellem unge kreative og erfarne kunstnere og designere. Eventet skaber plads til læring, netværk og kreative samtaler, hvor idéer og erfaringer deles ansigt til ansigt." direction="left" variant="primary" href="https://www.instagram.com/p/C5Tun0VMb3s/"/>

<Bigcard img="/imgs/det-første-penselstrøg.webp" headline="“Det første penselstrøg”" text="“Det Første Penselstrøg” er en kampagne, der sætter fokus på det uperfekte og ærlige i den kreative proces. Kampagnen hylder fejl, usikkerhed og de første forsøg som en vigtig del af at skabe kunst og udvikle sig kreativt." direction="right" variant="secondary" modalid="eventModal" /></div>
<div id="eventModal" class="modal hidden">
    <div class="modal-box">
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore suscipit repudiandae ipsum totam eum!</h2>
        <p> Adipisci, ipsum harum maxime sapiente ratione voluptates quod beatae eveniet quos quam ducimus officia maiores nemo?</p>
        <button data-close-modal>Luk</button>
    </div>
</div>
		</section>
		</PageLayout>

	</body> 
<script>
  // ÅBN
  document.addEventListener("click", (e) => {
    if (!(e.target instanceof Element)) return;
    const btn = e.target.closest("[data-modal-id]");
    if (!btn) return;

    const modal = document.getElementById((btn as HTMLElement).dataset.modalId!);
    modal?.classList.remove("hidden");
  });

  // LUK
  document.addEventListener("click", (e) => {
    if (!(e.target instanceof Element)) return;
    if (e.target.matches("[data-close-modal]")) {
      e.target.closest(".modal")?.classList.add("hidden");
    }
  });
</script>

</html>