---
//Import style-sheets
import PageLayout from "../layouts/PageLayout.astro"
//Import components
import Card from "../components/Card.astro"
import Bigcard from "../components/Bigcard.astro"
import VideoSection from "../components/VideoSection.astro"
---

<PageLayout>
		<section>
			<h2>Young Creatives Denmark er et kreativt fællesskab for unge </h2>
		<p>Inden for film, foto, design, kunst og storytelling skaber vi plads til samarbejde, læring og synlighed gennem workshops, events og kreative projekter.</p>
</section>
<!--Card section -->
<section>
<div class="grid_3_column">
		<Card img="/imgs/Group-1.webp" headline="Events & Fællesskab" text="Bliv en del af et kreativt fællesskab, hvor unge mødes gennem workshops, events og samarbejder. Her er der plads til nye idéer, netværk og kreative oplevelser." />
		<Card img="/imgs/Group-2.webp" headline="Design & Kunst" text="Udforsk kreativitet gennem grafisk design, illustration og visuel kunst. Vi hylder unikke udtryk og giver plads til at udvikle dine kreative evner." />
		<Card img="/imgs/Group-3.webp" headline="Fotografi, film &  video." text="Fortæl historier gennem billeder og levende medier. Fra foto og kortfilm til videoproduktion og redigering – her kan kreative visioner blive til virkelighed." />
		</div></section>
		<!--Video Section -->
<VideoSection />
		<section  class="about-us">
			<img src="/imgs/logo-2.webp" alt="">
			<h1>"Om os"</h1>
			<p>Young Creatives Denmark er et kreativt fællesskab for unge med passion for kunst, design, film, fotografi og visuel storytelling. Vi skaber et inspirerende miljø, hvor unge talenter kan udvikle sig, møde erfarne kreative og dele idéer gennem projekter, events og samarbejder.</p>
		</section>

		<!--Bigcard section -->
		<section>
			<div class="grid_2_column">
<Bigcard img="/imgs/ansigt-til-ansigt.webp" headline="“Ansigt til Ansigt”" text="“Ansigt til Ansigt” er et inspirerende møde mellem unge kreative og erfarne kunstnere og designere. Eventet skaber plads til læring, netværk og kreative samtaler, hvor idéer og erfaringer deles ansigt til ansigt." direction="left"/>
<Bigcard img="/imgs/det-første-penselstrøg.webp" headline="“Det første penselstrøg”" text="“Det Første Penselstrøg” er en kampagne, der sætter fokus på det uperfekte og ærlige i den kreative proces. Kampagnen hylder fejl, usikkerhed og de første forsøg som en vigtig del af at skabe kunst og udvikle sig kreativt." direction="right"/></div>
		</section>
		</PageLayout>
	</body>
</html>