	<section>
			<img src="/imgs/logo-2.webp" alt="">
			<div><h2>"Om os"</h2>
			<h4>Young Creatives Denmark er et kreativt fællesskab for unge med passion for kunst, design, film, fotografi og visuel storytelling. Vi skaber et inspirerende miljø, hvor unge talenter kan udvikle sig, møde erfarne kreative og dele idéer gennem projekter, events og samarbejder.</h4>
		</div></section>

        <style>
               img {
                    margin: 0 auto;
                }
            @media screen and (width >= 768px) {

                img {
                    margin-top: 2rem;
                }
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}
}
        </style>