---
import "../styles/general.css";
import "../styles/custom.css";
---

<footer><div><img src="/imgs/Logo-3.png" alt="">
<p>Dette projekt er udarbejdet som en skoleopgave af en studerende fra @Erhvervsakademi København. <br> Projektet er udviklet med fokus på kreativ formidling, visuel identitet og unges kreative fællesskaber.</p>
</div><h3>Telefon</h3>
<p>+45 60 91 43 26</p><h3>Sociale</h3>
<a href="/">Facebook</a> 
<a href="/">Instagram</a>
<h3>Adresse</h3>
<p>
Jacob Cameron Brook, <br> Landskronagade 27, st., <br>
2100 København Ø</p></footer>

<style>

    footer {
        background-color: #00324F;
        height: fit-content;
        margin-top: 4rem;
    }

    img {
        padding: 4rem 2rem 2rem 2rem;
        width: 100%;
    }
 .info {
    display: flex;
    flex-direction: row;
 }

 a {
    text-decoration: none;
    color: #fff;
 }
    h3 {
        padding: 1rem;
        color: #fff;
    }
    p {
        padding: 1rem;
        color: #fff;
        line-height: 2.4;
    }
</style>