---
import "../styles/general.css";
import "../styles/custom.css";
---

<footer><div><img src="/imgs/Logo-3.png" alt="">
<p>Dette projekt er udarbejdet som en skoleopgave af en studerende fra @Erhvervsakademi København. <br> Projektet er udviklet med fokus på kreativ formidling, visuel identitet og unges kreative fællesskaber.</p></div></footer>

<style>

    footer {
        background-color: #00324F;
        height: fit-content;
        margin-top: 4rem;
    }

    img {
        padding: 4rem 2rem 2rem 2rem;
        width: 100%;
    }

    p {
        padding: 2rem;
        color: #fff;
        line-height: 2.4;
    }
</style>