---
//import styles
import "../styles/general.css"
import "../styles/custom.css"
---

<header>
    <div><img class="logo" src="/imgs/logo-1.webp" alt=""><button>
			<h2>OM OS</h2>
		</button></div>
    
<img src="/imgs/logo-2.webp" alt="">
<p class="hero-text">"Det første penselstrøg"<br>- I samarbejde med Ansigt til Ansigt.</p>
</header>
<style>
    header {
        position: relative;
        font-family: Montserrat;
        height: 790px;
        background-image: url(../imgs/hero.webp);
        background-position: center;
    }

    div {
        display: flex;
       justify-content: space-between;
       
    }

    .logo {
        width: 100px;
        height: 100px;
    } 

button {
    margin: 2rem 0 1rem 0;
       width: 162px;
    height: 36px;
    border-radius: 999px;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: var(--h2-font);
    font-size: 8px;
    box-shadow: 0 8px 20px rpga(0, 0, 0, 0,25);
    transition: all 0.4s ease;
    will-change: transform, box-shadow, background, color;
}

button:hover {
 
    background-color: #343A3F;
    color: #fff;
 transform: translate(-4px) scale(1.03);
 box-shadow: 0 10px 25px rpga(0, 0, 0, 2);
}
 img {
    padding: 1rem;
}

.hero-text {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
        color: #fff;
        font-family: var(--p-font);
    }

   

@media screen and (width >= 768px) {
button {
    margin: 2rem 0 1rem 0;
       width: 189px;
    height: 42px;
    border-radius: 999px;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: var(--h2-font);
    line-height: 18px;
}
}
</style>