---
//import styles
import "../styles/general.css"
import "../styles/custom.css"
const {href="#afsnit", text="Om os"} = Astro.props;
---

<header>
    <div class="logo"><img src="/imgs/logo-1.webp" alt="">
        <a href={href}, id="popupopen" class="link-button">{text}</a></div>
    
<img src="/imgs/logo-2.webp" alt="">
<p class="hero-text">"Det første penselstrøg"<br>- I samarbejde med Ansigt til Ansigt.</p>
</header>
<div class="popupbox" id="popupbox">
    <div class="popupboxcontent">
        <h2>Young Creatives Denmark (YCDK)</h2>
        <p> 
YCDK er et kreativt fællesskab og en platform, der samler unge med passion for kunst, design og visuel kultur. Her handler det om at skabe rum for idéer, eksperimenter og nye perspektiver – hvor unge stemmer får lov til at fylde og udvikle sig gennem projekter, events og samarbejder.
<h2>YCDK & Ansigt til Ansigt</h2>
<p>“Ansigt til Ansigt” er et levende møde mellem unge kreative og erfarne kunstnere og designere. Her brydes afstande ned, og der skabes et ærligt rum for dialog, læring og inspiration. Det er et sted, hvor man ikke bare ser kunst – men møder menneskene bag den.
</p>
<h2>Samarbejdet med Det Første Penselstrøg</h2>
<p>Samarbejdet med Det Første Penselstrøg bygger bro mellem idé og handling. Her undersøges den første kreative impuls – det øjeblik hvor noget nyt opstår. Gennem workshops, visuelle eksperimenter og fælles processer skabes et rum, hvor unge kan afprøve deres udtryk og forstå processen bag kunstnerisk arbejde fra første streg til færdigt værk.</p>
        <button class="popupclose" id="popupclose">Luk</button>
    </div>
</div>
<style>
    header {
        position: relative;
        font-family: Montserrat;
        height: 500px;
        height: 770px;
        background-image: url(../imgs/hero.webp);
        background-position: center;
    }

    .logo {
        display: flex;
       justify-content: space-between;
       
    }

        .logo img {
            width: 50px;
            height: 50px;
       
    }

a.link-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem 0;
       width: 162px;
    height: 36px;
    border-radius: 999px;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: montserrat-bold;
    font-size: 12px;
    box-shadow: 0 8px 20px rpga(0, 0, 0, 0,25);
    transition: all 0.3s ease;
    will-change: transform, box-shadow, background, color;
    text-decoration: none;
}

a.link-button:hover { 
    background-color: #343A3F;
    color: #fff;
 transform: translate(-4px) scale(1.03);
 box-shadow: 0 10px 25px rpga(0, 0, 0, 2);
}
.hero-text {
   top: 79%;
   left: 20px;
    position: absolute;
    /*text-align: left;
    justify-content: left;*/
    bottom: 30px;
    right: 30px;
    font-family: var(--p-font);
        color: #fff;

    }

   /*Pop-up*/
   .popupbox {
    position: fixed; /*position ovenpå*/
    inset: 0;
    background: rgba(0, 0, 0, 0.4);/*baggrund farve*/
    top: 0px; /* afstand fra skærmen */
    right: 0;
    bottom: 0;
    left: 0;
    display: none; /*centrering af pop-up*/
    justify-content: center;
    overflow-y: auto;

   }

.popupboxcontent {
    overflow-y: auto;
    font-family: montserrat;
  margin-top: 20px;
    height: fit-content;
    width: 90%;
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 25px;
}

.popupboxcontent, h2 {
    padding: 0 1rem 0rem 1rem;
    font-size: 16px;
}

.popupboxcontent, p {
    font-size: 14px;
    padding: 1.5rem 1rem;
}

.popupclose {
       display: inline-flex;
    justify-content: center;
    align-items: center;
   margin: 0.5rem 0 1rem 2rem;
       width: 162px;
    height: 36px;
    border-radius: 999px;
    background-color: #fff;
    color: #000;
    border: none;
    font-family: montserrat-bold;
    font-size: 12px;
    box-shadow: 0 8px 20px rpga(0, 0, 0, 0,25);
    transition: all 0.3s ease;
    will-change: transform, box-shadow, background, color;
    text-decoration: none; 
}

.popupclose:hover {
    background-color: #343A3F;
    color: #fff;
 transform: translate(-2px) scale(1.03);
 
 box-shadow: 0 10px 25px rpga(0, 0, 0, 2);
    text-decoration: none; 
}

@media screen and (width >= 768px) {

        header {
   
        height: 770px;
      
    }
a.link-button {
    margin: 1.5rem 0 1rem 0;
       width: 189px;
    height: 42px;
   /* border-radius: 999px;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: var(--h2-font);
    line-height: 18px;*/
    font-size: 16px;
}

.hero-text {
     
    font-size: 24px;
    text-align: right;
    font-family: montserrat-bold;
    
    }

            .logo img {
            width: 100px;
            height: 100px;
       
    }
/*pop-up*/

.popupboxcontent {
    font-family: montserrat;
   
    height: fit-content;
    width: 70%;
    background: #000;
    color: #fff;
    padding: 20px;
    border-radius: 25px;
}

.popupboxcontent, h2 {
    
    padding: 1rem 1rem;
    font-size: 24px;
}

.popupboxcontent, p {
    font-size: 18px;
    padding: 1.5rem 1rem;
}
}
</style>

<!--JavaScript til pop-up -->

<script>
const popupbox = document.getElementById("popupbox");
const openBtn = document.getElementById("popupopen");
const closeBtn = document.getElementById("popupclose");

if (popupbox && openBtn && closeBtn) {
    // Åbner pop-up
    openBtn.addEventListener("click", (e) => {
        e.preventDefault();
        popupbox.style.display = "flex";
    })

    // Lukker pop-up
    closeBtn.addEventListener("click", () => {
        popupbox.style.display = "none";
    })
}

</script>