---
//Import style-sheets
import "../styles/general.css";
import "../styles/custom.css";

---
<section>
<div>
    <img src="/imgs/logo-4.png" alt="">
    <h1>How-to-Motion-Graphic med
“Det første penselstrøg”</h1>
    <video width="340" height="260" controls>
  <source src="/imgs/how-to-MG.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
</div>
</section>

<style>
section {
     background-color: #00324F;
     min-width: 100%;
     height: 700px;
}

img {
    padding: 1rem;
width: 100%;
}

h1 {
    color: #fff;
    padding: 1rem;
}

video {
    width: 100%;
}
</style>